@import "freetype-green.css";

.navbar-inverse {
    background: #155E06 url("../images/fond3_-90.png") no-repeat right top;
    min-height: 134px !important;
    border-color: #015CAE;
    font-family: "Droid Sans", "sans-serif";
}

.bottom-bar {
    background: #155E06 url("../images/fond3_-90.png") no-repeat right top;
    min-height: 134px !important;
    border-color: #015CAE;
    padding: 0;
    margin: 0;
}
